---
import Layout from "@/layouts/Layout.astro";
// import Experience from "@/components/sections/Experience.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Hero from "@/components/sections/Hero.astro";
import Proyects from "@/components/sections/Proyects.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv";
---

<Layout title={`Portafolio de ${basics.name} - ${basics.label}`}>
  <main class="p-4 m-auto w-full">
    <Hero />
    <About />
    <!-- <Experience /> -->
    <Education />
    <Proyects />
    <Skills />
  </main>
  <KeyboardManager />
</Layout>
